@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');
html{
    box-sizing: border-box;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,0.5942752100840336) 0%, rgba(9,9,121,0.4990371148459384) 34%, rgba(0,212,255,0.34217436974789917) 100%);
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: inherit;
}

.hidden{
    display: none;
}
.color-2 {
    font-size: 20px;
    margin-right: .5em;
    color: #C8F1A8;
}

 /* main section  */
.main{
    background: linear-gradient(180deg, #E7EDF9 0%, #D5CDDE 100%);
    min-height: 90vh;
    height: fit-content;
}

.Header{
    background: #FDFEFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.brand-name{
    color: #71658A;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    font-family: Lato;
}
.search-name-value{
    display: block;
    position: relative;
}
.search-pruduct{
    background: #FFFFFF;
    border: 1px solid #5E5572;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px #D5CDDE;
    border-radius: 10px;
}
.search-pruduct:hover{
    box-shadow: 0px 6px 6px #D5CDDE;
}
.search-icon{
    position: absolute;
    top:.5em;
    right: .8em;
    z-index: 100;
}

.title {
    padding: 8rem 0 1rem 2.5rem;
}
.title .main-title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 72px;
    color: #5E5572;
} 

.card {
    background: #FEFEFE;
    box-shadow: 0px 10px 20px rgba(154, 141, 171, 0.3);
    border-radius: 10px;
    padding: .5rem;
    border: none;
    overflow: hidden;
    min-height: 35vh;
    transition: transform 1s;
    
}

.card:hover {
    box-shadow: 0px 10px 30px rgba(154, 141, 171, 0.8);
    transform: scale(1.05);

}

.card .card-img-canvas{
    overflow: hidden;
    width: 100%;
    height: 20vh;
}
.card .card-title{
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
}
.card-body{
    position: relative;
    bottom: 0;
    background: rgba(255,255,255,.8);
    padding: 8px;
 }

 .card .card-description {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 15px;
    color: #616161;

 }
.gallery .card {
    height: 30vh;
}




.modal.fade:not(.show) {
    opacity: 1;
    display: block;
    background: rgba(0,0,0,.6);
}

.SelectedItem .modal-dialog {
    max-height: 85vh;
    margin: 10vh auto;
    max-width: 70vw;
    overflow: hidden;
}
.SelectedItem img.card-img-top {
    max-height: 70vh;
    width:auto;
    margin: 0 auto;
    max-width: 100%;
}
.SelectedItem .card {
    height: 70vh;
}


/* caroucel FX by hand */

.carousel__wrap {
    margin-top: 0;
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel__inner {
    min-height: 40rem;
    position: relative;
    /* width: calc(#{$slide-width * 3}); */
    width: 500%;
    padding: 1%;
}

.carousel__container {
    height: 100%;
    /* overflow: hidden; */
    position: relative;
    width: 100%;  
}

.carousel__btn {
    align-items: center;
    background: 0;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 35%;
    transform: translateY(-50%);
    background: rgba(250,250,250, .6 );
    border: 1px solid #5E5572;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(154, 141, 171, 0.3);
    border-radius: 100%;
    z-index: 1000;
    width: 5rem;
    height: 5rem;

}
.carousel__btn:hover {
    background: rgb(250,250,250);
}
.carousel__btn--prev {
    left: -3rem;
}

.carousel__btn--next {
    right: -3rem;
}

.carousel__btn-arrow {
    border: solid #5E5572;
    border-width: 0 0.1rem 0.1rem 0;
    padding: 3px;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 10;
}
.carousel__btn--icon{
    font-size: 1.6rem;
    color: #5E5572;
}



/* end caroucel FX by hand */